@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

* {
    font-family: 'Outfit', sans-serif;
}

body {
    background: white;
    color: #171717;
    font-family: 'Outfit', sans-serif;
}


.text-pink-primary {
    color: #ff69b4;
}

.bg-pink-primary {
    background-color: #ff69b4;
}

.text-pink-secondary {
    color: #ffa6c9;
}

.bg-pink-secondary {
    background-color: #ffa6c9;
}


::-webkit-scrollbar {
    display: none;
}

* {
    scroll-behavior: smooth;
}


:root {
  
  --color-josseypink3: #f472b6;  /* pink-400 */
  --color-josseypink2: #f9a8d4;  /* pink-300 */
  --color-josseypink1: #ec4899;  /* pink-500 */
  --color-josseypink4: #fbcfe8;  /* pink-200 */
  --color-josseypink5: #db2777;  /* pink-600 */
}


.text-josseypink1 { color: var(--color-josseypink1); }
.bg-josseypink1 { background-color: var(--color-josseypink1); }
.border-josseypink1 { border-color: var(--color-josseypink1); }

.text-josseypink2 { color: var(--color-josseypink2); }
.bg-josseypink2 { background-color: var(--color-josseypink2); }
.border-josseypink2 { border-color: var(--color-josseypink2); }

.text-josseypink3 { color: var(--color-josseypink3); }
.bg-josseypink3 { background-color: var(--color-josseypink3); }

.text-josseypink4 { color: var(--color-josseypink4); }
.bg-josseypink4 { background-color: var(--color-josseypink4); }

.text-josseypink5 { color: var(--color-josseypink5); }
.bg-josseypink5 { background-color: var(--color-josseypink5); }